.card {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 413px;
  gap: 20px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card__like-btn {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url(../images/Union.svg);
  opacity: 1;
  background-color: transparent;
}

.card__like-btn_liked:hover {
  background-image: url(../images/LikedHover.svg);
  background-color: transparent;
}

.card__delete-btn {
  background-image: url(../images/delete.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 371px;
}

.card__delete-btn:hover {
  background-image: url(../images/deleteHover.svg);
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  max-width: 353px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
}

@media screen and (max-width: 660px) {
  .card {
    gap: 12px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 21px;
    max-width: 250px;
  }

  .card__delete-btn {
    background-image: url(../images/delete.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 9px;
    left: 246px;
  }

  .card__delete-btn:hover {
    background-image: url(../images/deleteHover.svg);
  }
}
